*.db
*.elc
*.pyc
*.sqlite
*.stackdump
*~
.DS_Store
.cache
.dap-breakpoints
.directory
.emacs.desktop
.emacs.desktop.lock
.extension/
.ignore
.last-package-update-day
.lsp-*
.places
.projectile
.recentf
.recentf~
.smex-items
.sx/
/*.zip
/.cask/
/backups
/eww-bookmarks
/recentf
/session.*
/srecode-map.el
/url
\#*
\.#*
amx-items
auto-save-list/
bin/Emacs\ (Aero).app
bookmarks
build-logs/
crown/
eclipse*
eln-cache/
elnode/
elpa/
elpaca/
elpy/
eshell/*
etc/cache/
etc/lsp-session
etc/recentf
etc/saveplace
etc/todo.org
flycheck_*
games/
lsp-cache
nov-places
places
projectile-bookmarks.eld
projectile.cache
projects
request/
straight/
tags
tmp.*
tmp/
tramp
transient/
var/
workspace/
xkcd/

# Ignore local init
init.local.el
