auto-save-list/
elpa/
.smex-items
\#*
.places
.directory
.cache
/eww-bookmarks
eshell/history
.emacs.desktop
.emacs.desktop.lock
.recentf
.recentf~
projectile.cache
projectile-bookmarks.eld
tramp
elnode/
var/
crown/
*.stackdump
bookmarks
.DS_Store
tmp/
*.pyc
/*.zip
*.db
/.cask/
/session.*
/srecode-map.el
/recentf
