[submodule "lib/packages/formfeeder"]
	path = lib/packages/formfeeder
	url = git@gitlab.com:thornjad/formfeeder.git
[submodule "lib/packages/todo-light"]
	path = lib/packages/todo-light
	url = git@gitlab.com:thornjad/todo-light.git
[submodule "lib/packages/rjsx-mode"]
	path = lib/packages/rjsx-mode
	url = git@github.com:thornjad/rjsx-mode.git
[submodule "lib/packages/quick-restart"]
	path = lib/packages/quick-restart
	url = git@gitlab.com:thornjad/quick-restart.git
[submodule "lib/packages/pbcopier"]
	path = lib/packages/pbcopier
	url = git@gitlab.com:thornjad/pbcopier.git
[submodule "lib/packages/smart-tabs-mode"]
	path = lib/packages/smart-tabs-mode
	url = git@gitlab.com:thornjad/smart-tabs-mode.git
[submodule "lib/packages/pomp"]
	path = lib/packages/pomp
	url = git@gitlab.com:thornjad/pomp.git
[submodule "lib/packages/xterm-color"]
	path = lib/packages/xterm-color
	url = git@github.com:atomontage/xterm-color.git
