auto-save-list/
elpa/
quelpa/
.smex-items
\#*
\.#*
.places
.directory
.cache
/url
/eww-bookmarks
eshell/history
.emacs.desktop
.emacs.desktop.lock
.recentf
.recentf~
projectile.cache
projectile-bookmarks.eld
tramp
elnode/
var/
crown/
transient/
.last-package-update-day
*.stackdump
bookmarks
.DS_Store
tmp/
*.pyc
/*.zip
*.db
/.cask/
/session.*
/srecode-map.el
/recentf
etc/todo.org
.private.el
games/
